body, html {
  	height: 100%;
	width: 100%!important;
    scroll-behavior: smooth;

}

.form-check-input {
	position: relative!important;
}

.ff-form .form-check {
	padding-top: 4%;
}

.btn-primary {
	margin-top: 5%!important;
	background-color: #1a1a1a!important;
	border-color: #1a1a1a!important;
}

.btn-secondary {
	margin-top: 5%!important;
	background-color: #1a1a1a!important;
	border-color: #1a1a1a!important;
}

.transparency {
	opacity: .6;
}
.display-4 {
		font-size: 2.3rem;
}	

h3.ff-title{
	font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}
	
label{
	margin-top: .7em;
	margin-bottom: 0;
	font-weight: 200!important;
	font-size: 7vw;
}

h2{ 
	padding-bottom: 2%;
	border-bottom: 1px solid #000;
}

/*Flotante*/

nav > .navshow {
	display: none;
}

nav > a.navhide {
	 display: none;
	 font-weight: 500;
}

div#aviso {
	width: 100%;
	padding-top: 1%;
	padding-bottom: 5%;
	font-size: 85%;
	background-color: #fff;
	z-index: 100;
}

div#ff-compose {
	overflow-y: hidden!important;
}

body > div.logo > img {
	width:30vw;
	height: auto;
	min-width: 290px;
	margin-right: auto!important;
	margin-left: auto!important;
} 
/*Logo es para determinar el primer parallax de todos*/
body div.logo {
	width: 100%!important;
    padding-top: 15vh;
	padding-bottom: 12vh;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.btn-dark:hover, .btn-dark:active, .btn-dark:focus {
	border: 0 0 0 transparent;
	box-shadow: 0 0 0 0 transparent!important;
}

body > div.parallax {
	  /* Create the parallax scrolling effect */
  height: 77%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body > div.parallax1 {
  /* The image used */
  background-image: linear-gradient(to bottom,rgba(30, 42, 57,.8) 0,rgba(10, 11, 12,.7) 100%), url('https://lh3.googleusercontent.com/75AmSK8cHSuBnLUtwL01RSfbaOOZkODxGpYyJy72K00QUUxyV33baqSwhyd-BU7mpfkeTHDMYRTIq05cJybw-CyOfvKeWw8yrbFOZkuVx-BWlrBFCH6qiOfgeEFRsAxDBTMKIqu7HQ=w2400');
}

body > div.parallax2 {
  /* The image used */
  background-image: linear-gradient(to bottom,rgba(30, 42, 57,.2) 0,rgba(10, 11, 12,.2) 100%),url('https://lh3.googleusercontent.com/tav1MprmA6mq49MXIxwW4YKXhQlfbkTJPrlTvaKueMOSXpi4z0zwQFmh9rGSXECaKGAIiK877KD6TuklZy1fUqL-qB7bM3HrYDcEzV0LjwOl6V1zVP9yhys9aY9rwi26QCnyootp8A=w2400');
}

body > div.parallax3 {
  /* The image used */
  background-image: linear-gradient(to bottom,rgba(30, 42, 57,.2) 0,rgba(10, 11, 12,.2) 100%),url('https://lh3.googleusercontent.com/ZyK7Th5ZEkffKLRSMSMsOOLKDVp5RUToWke82emYzG3xv_HZXf_hhHSE_xpHFp0pdq5A5yATnK-WUbrrIv18Pamb6RolekJIjN60LC0NBYPzro1VClM2yTG0ob7Fie2vgI29IB2NvA=w2400');
}

body > div.parallax4 {
  /* The image used */
  background-image: linear-gradient(to bottom,rgba(30, 42, 57,.8) 0,rgba(10, 11, 12,.7) 100%),url('https://lh3.googleusercontent.com/EzBYV-6DK8NGKGPPYFeNT7YE8ggxGVfpJRmrrBdEIY1p9Z4lC-X7zWZ_nshSNAngJxKQPWcYda9QCpaBPk5ZOOpIaVovSAE0XQhfb8Q3zdxcUekmvMI_mZXuxuCWCCkxJ-MCigWHRhQ=w2400');
}

body > div.parallax5 {
  /* The image used */
  background-image: linear-gradient(to bottom,rgba(30, 42, 57,.9) 0,rgba(10, 11, 12,.7) 100%),url('https://lh3.googleusercontent.com/n-vupAEnbn_TqZGT03U3JfhnDRiuwdUS9x4-icUje44Xtd2l31b_-VX1QF04frAIQ_g6wUTXRorxfikCCYnuUKPWA_6Da7gVX6EVfXMT8CFSvX02sp67AyzNcNsRMXrC9F7cgc8GWA=w2400');
}

body > div.parallax6 {
  /* The image used */
  background-image: linear-gradient(to bottom,rgba(30, 42, 57,.9) 0,rgba(10, 11, 12,.7) 100%),url('https://lh3.googleusercontent.com/CgSA6fVy4Kcii_C_fiqCHOvApL6Rh7eTZayse9d7mWkRDzvxdZ6ecRbk3UVWWzynShMqcPHZ14DDQXPxGqBU55P_I7Ep-z8RX_GKkZPeU6u-9ZIw-VfVnWKwZ-qzHQ4UPledXrajyw=w2400');
}

body > div.parallax7 {
  /* The image used */
  background-image: linear-gradient(to bottom,rgba(44, 22, 47,.9) 0,rgba(44, 22, 47,.7) 100%),url('https://lh3.googleusercontent.com/QIynE_R7rYH52ywsRF8-a-1hRjsP9eMoycJWYVMQ7PLxuXwmU3BaxedviopYN-wyN_DGCQTGNeWQduM3BvKr-ajUh8CP9w2T8Ny1NlOeY53qO_-dYkE5Rczj31Z_uKc2KUFYvJhAJQ=w2400');
}

ul.second > li {
	font-size: 180%;
	padding-left: 10%!important;
	text-align: left!important;
	margin-top: .7em;
	margin-bottom: 2.3em;
}

ul.second > li > p {
	margin-top: .7em;
	margin-bottom: 0;
	font-weight: 200!important;
	font-size: 7vw;
}

ul.second > li > .slider {
	margin-top: 2em;
}

/*retiro.html*/

div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

/*error 404*/

body.error > h1 {
	margin-top: 25%!important;
}

/*canciones*/

.lyrcs {
	display: block;
	width: 70%;
	margin: 0 auto;
}

.b {
	width: 40%!important;
}
