
@media screen and (min-width: 576px) { 

	.display-4 {
		font-size: 3.5rem;
	}	
	
	nav > .navhide {
		margin-left: 1em;
	}
	
	nav > .navbar-toggler {
		margin-right: 1em;
	}
	
	div#aviso {
		padding-top: 2%;
		padding-bottom: 1%;
}	
	
	.txt {
		font-size: 120%;
		font-weight: 200!important;
	}

}

@media screen and (min-width: 768px) { 
	
	nav > .navhide {
		margin-left: 3em;
	}	
	
	nav > .navbar-toggler {
		margin-right: 2em;
	}	
	div#aviso {
		padding-top: 1%;
		padding-bottom: 1%;
}

	body > div.logo > img {
		max-width: 415px;
}

	.txt {
		font-size: 130%;
		font-weight: 200!important;
	}

}
@media screen and (min-width: 991.98px) { 

	label{
	margin-top: .7em;
	margin-bottom: 0;
	font-weight: 200!important;
	font-size: 4vh;
	}
	
	nav.bg-dark {
		background-color: transparent!important;
	}
	
	nav > a.navhide {
		display: block;
		margin-left: 3em!important;
		padding-top: 0;
	}
	
	li > .btn-dark {
		background-color: transparent!important;
		border: none!important;
	    color: rgba(255,255,255,0.7)!important;
	}

	.btn-dark:hover {
		color:#fff!important;
	}	
	
	ul.second > li > p {
	margin-top: .7em;
	margin-bottom: 0;
	font-weight: 100!important;
	font-size: 5vh;
	}
	
	ul.second > li {
	font-size: 6vh;
	font-weight: 400!important;
	}
	
	ul.second > li > a {
		font-size: 4vh;
	}
	
	div#aviso {
		padding-top: 1%;
		padding-bottom: 1%;
}	
	
	body > div.logo > img {
 		padding-top: 1em;
}
	body > div.space {
		padding-left: 15%!important;
		padding-right: 15%!important;
	}
	
	.txt {
		font-size: 170%;
		font-weight: 200!important;
	}
	.btn-dark{
		margin-right: 0.7em;
	}
	ul.navbar-nav li:last-child {
		margin-right: 2.3em;
	}
	nav.navbar {
		height: 4em;
	}
}

@media screen and (min-width: 1199.98px) { 
	body div.logo {
		background-attachment: fixed;
	}
	div#aviso {
		padding-top: 1%;
		padding-bottom: 1%;
}

	ul li.nav-item:last-child {
		margin-right: 7em!important;
	}
		
	body > div.space {
		padding-left: 18%!important;
		padding-right: 18%!important;
	}
	
	.txt {
		font-size: 200%;
		font-weight: 200!important;
}

	body > div.parallax > h2{
		margin-top: 50%!important;
	}
	
	.btn-dark{
		margin-right: 0.7em;
	}
	
	ul.navbar-nav li:last-child {
		margin-right: 2.3em;
	}
	
	nav.navbar {
		height: 4em;
	}
	nav a.navhide {
		margin-left: 7em!important;
	}
}


/*
@media (max-height: 595px) and (max-width: 991px) { 

	nav > a.navshow {
	display: none;
}
		
	
	nav > a.navhide {
	display: block;
}
	
	
	body > div.parallax {
		height: 95%;
}	
	
	div#aviso {
		padding-top: 1%;
		padding-bottom: 1%;
}	
	body > div.logo {
		padding-top: 3.4em!important;
	}
	body > div.logo > img {
		width: 25%;
		min-width: 166.5px!important;
		
	}
	
	
	
} */